{% extends "cooperate/base.html" %}
{% block content %}
<div class="container-fluid" style="text-align:center; padding-top:60px;">
  <h1><u><b>OUR CENTERS</b></u></h1>
  <div class="container" style="text-align:center;margin:1.2rem auto;">
  {% if user.is_authenticated %}
  <h3>Add New CENTER <button class="btn btn-success btn-large"><a href="{% url 'cooperate:centers_create' %}">ADD</a></button></h3>
  {% endif %}
  </div>
  <div class="container-fluid">
    <div class="row">
      {% for c in center %}
<div class="card col-12 col-sm-6 col-md-3" style=" border:none; width:10rem; align:center; background:#F4F6C1;">
<div class="card-body" style="padding-buttom:5px; text-align:left;">
  <ul class="list-group list-group-flush">
<li class="list-group-item" style="text-align:center;"><strong> {{ c.name }}</strong></li>
<li class="list-group-item">PLACE : {{ c.place }}</li>
  <li class="list-group-item">ADDRESS: {{ c.address }}</li>
  <li class="list-group-item">CONTACT: {{ c.contact }}</li>
  {% if user.is_authenticated %}
  <li class="list-group-item" style="text-align:center;"><button class="btn btn-warning"><a href="{% url 'cooperate:centers_update' pk=c.pk %}">UPDATE</a></button>
  <button class="btn btn-danger"><a href="{% url 'cooperate:centers_delete' pk=c.pk %}">DELETE</a></button></li>
  {% endif %}
</ul>
</div>
</div>

      {% endfor %}
    </div>
    </div>
</div>
<br><Br>
{% endblock %}
