{% extends "cooperate/base.html" %}
{% block content %}
<div class="container-fluid" style="text-align:center; padding-top:10rem;">
  <div class="container">
{% if user.is_authenticated %}
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">AUTHOR: <strong> {{ quaries.author }}</strong></li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">SUBMITTED_AT: {{ quaries.created_data }}</li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">SUBJECT: {{ quaries.subject }}</li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">EMAIL: {{ quaries.email }}</li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">CONTACT: {{ quaries.contact }}</li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">TEXT: {{ quaries.text}}</li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto;"><button class="btn btn-primary"><a href="mailto:{{ quaries.email }}" style=" color:white;">REPLY BACK</a></button></li>
<li class="list-group-item" style="text-align:center; width:28rem; margin:auto">
<button class="btn btn-danger"><a href="{% url 'cooperate:quaries_delete' pk=quaries.pk %}" style=" color:white;">DELETE</a></button></li>
{% endif %}
</div>
</div>


    </div>
    </div>

<br><Br>
{% endblock %}
